<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
       
        <p> This Weather tracker app was made as an exploration of Node.JS basics</p>
        <p> Parts of it will be used for a future application that is more personally useful.</p>
        <p> It uses mapbox.com and weatherstack.com</p>

    </div>
    
    {{>footer}}
</body>

</html>

